@font-face {
    font-family: 'gg sans';
    src: url('../font/ggsans-Normal.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.discord-message {
    display: table;
    font-family: "gg sans";
    font-size: 16px;
    font-weight: normal;
    white-space: pre-line;
    width: 100%;
}

.discord-message tr {
    vertical-align: top;
    text-align: left;
}

td {
    display: inline-table;
    padding-left: 10px;
    height: 100%;
}

.content-column {
    width: 70%;
}

.code-block {
    display: block;
    font-family: Consolas, monospace;
    font-size: 14px;
    font-weight: normal;
    background-color: #2b2d31;
    margin: 4px 0;
    padding: 0.5em;
    width: 100%;
    border: 1px solid #1e1f22;
    border-radius: 4px;
}

.code-word {
    display: inline-block;
    font-family: Consolas, monospace;
    font-size: 14px;
    background-color: #2b2d31;
    margin: 0 4px;
    padding: 2px 1px;
    border-radius: 4px;
}

.message-title {
    display: table;
    vertical-align: bottom;
    margin-bottom: 5px;
    position: relative;
}

.cmini-discord-message {
    border-left: 2px solid #faa61a;
    background-color: #46423c;
}

.cmini-bot {
    background-color: #5865f2;
    color: #fff;
    padding: 2px 4px;
    font-family: Consolas, monospace;
    font-size: 10px;
    border-radius: 4px;
    margin-left: 4px;
}

.message-date {
    margin-left: 4px;
    color: #aaa;
    font-size: 11px;
}
