@font-face {
    font-family: 'gg sans';
    src: url('../font/ggsans-Normal.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#cminiPromptWrapper {
    display: flex;
    flex-direction: column;
    width: min(90vw, 800px);
}

.prompt-section {
    display: flex;
    margin: 0;
    padding: 20px 0;
    width: 100%;
    justify-content: space-between;
}

#cminiPromptWindow {
    background-color: #313338;
    color: #ddd;
    width: 100%;
    height: 50vh;
    resize: none;
    overflow: auto;
    border-radius: min(1vw, 10px);
    border-color: #aaa;
    box-sizing: border-box;
    padding: 5px 0;
}

#cminiCommandInput {
    background-color: #383a40;
    color: #eee;
    padding: 10px;
    width: 100%;
    resize: none;
    border: 1px solid #aaa;
    border-radius: min(0.5vw, 5px);
    font-size: medium;
    font-family: "gg sans";
    box-sizing: border-box;
}

#cminiSendButton {
    background-color: #7289da;
    margin: 5px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
}