html {
    font-family: Roboto Mono, monospace;
    font-size: large;
    color: #ddd;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xx-large;
}

body {
    background-color: #292929;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

section {
    padding: 20px;
}

a:link {
    color: #9998b8;
}
a:visited {
    color: #b898b8;
}

nav ul {
    list-style: none;
}

nav ul li {
    cursor: pointer;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content */
main {
    padding: 20px;
}

.header-button {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: x-large;
    font-family: Roboto Mono, monospace;
    color: #ddd
}

.header-button:hover {
    color: #fff;
    text-decoration: underline;
}

.header-button.active {
    color: #e2b714;
}

.repo-card-wrapper {
    display: flex;
    min-height: 115px;
    padding-top: 10px;
}

.remarks {
    color: #ccc;
}

.remarks-title {
    color: #ccc;
    font-size: x-large;
}

.remarks code {
    background-color: #444;
    padding: 2px 3px;
    color: #eee;
    font-size: 15px;
    border: 1px solid #777;
    border-radius: 3px;
}

.remarks-list {
    list-style-type: disc;
    padding-left: 20px;
    height: fit-content;
}

.remarks-item {
    padding: 2px 0;
}

.remarks-list li {
    padding: 2px 0;
}

/* Footer */
.last-line {
    background-color: inherit;
    height: 20px;
    bottom: 0;
    width: 100%;
}

/* Default Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
